.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
    transition: .9s;
}
.gallery img:hover{
    transform: translateY(30px);
}