@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #f5f5f5;

}
a{
    text-decoration: none;
    color: inherit;
    display: flex;
    line-height: 1;
    cursor: pointer;
    
}
.container{
  padding-left: 10%;
  padding-right: 10%;

}
.btn{
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  border: 0;
  border-radius: 25px;
  font-size: 16px;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img{
  width: 20px;
  margin-top: 5px;
  margin-left: 10px;
}

.btn.dark-btn{
  background: #212ea0;
  color: #fff;
  transition: .6s;
}
.btn.dark-btn:hover{
  transform: translateX(40px);

}
@media(max-width: 1200px){
  
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
   .btn{
    padding: 14px 22px;
   }
}